{% extends 'admin/change_list.html' %}
{% load humanize %} 
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url admin:index %}">{% trans "Home" %}</a>
    &rsaquo; Varnish
</div>
{% endblock breadcrumbs %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <input type="text" name="command"/>
    <input type="submit" value="Run command"/>
</form>

{% if results %}
<table>
    <tr>
        <th>Server</th>
        <th>Result</th>
    </tr>
    {% for server, result in results %}
    <tr>
        <td><p>{{ server }}</p></td>
        <td>{{ result|linebreaks }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
